# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore build outputs and executables
*.exe
*.zip
*.sfx

# Ignore user profile and exported data
*.profile
*.xlsx
